<div class="list-group">
    <a href="#" class="list-group-item list-group-item-action active">
        @User.Identity.Name 帳號管理
    </a>
    <a href="#" class="list-group-item list-group-item-action">資料管理</a>
    <a href="#" class="list-group-item list-group-item-action">修改基本資料</a>
    <a href="#" class="list-group-item list-group-item-action">修改密碼</a>
    <a href="/User/WatchStock" class="list-group-item list-group-item-action" >關注股票</a>
    

</div>