<script src="https://cdnjs.cloudflare.com/ajax/libs/apexcharts/3.19.3/apexcharts.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/apexcharts/3.19.3/apexcharts.css" rel="stylesheet">
<script>
    $(document).ready(function () {
        setInterval(function () {
            $.get("/Home/NowPrice/@ViewBag.stock.StockNum", function (data) {
                if (data != "fail") {
                    $("#now_price").html(data);
                }
            });
        }, 3000);

    });
</script>
<script>
    $(document).ready(function () {
        $.getJSON("/Home/Price_30_Day/@ViewBag.stock.StockNum", function (jo) {
            var options = {
                series: [{
                    data: jo
                }],
                chart: {
                    type: 'candlestick',
                    height: 350
                },
                title: {
                    text: '@Html.Raw(ViewBag.stock.StockName) (@ViewBag.stock.StockNum)',
                    align: 'left'
                },
                xaxis: {
                    type: 'datetime'
                },
                yaxis: {
                    tooltip: {
                        enabled: true
                    },
                    labels: {

                        formatter: function (val, index) {
                            return val.toFixed(2);
                        }
                    }
                },
                tooltip: {
                    custom: function ({ seriesIndex, dataPointIndex, w }) {
                        const o = w.globals.seriesCandleO[seriesIndex][dataPointIndex]
                        const h = w.globals.seriesCandleH[seriesIndex][dataPointIndex]
                        const l = w.globals.seriesCandleL[seriesIndex][dataPointIndex]
                        const c = w.globals.seriesCandleC[seriesIndex][dataPointIndex]
                        return (
                            '<div class="apexcharts-tooltip-candlestick">' +
                            '<div>Open: <span class="value">' +
                            parseFloat(o).toFixed(2) +
                            '</span></div>' +
                            '<div>High: <span class="value">' +
                            parseFloat(h).toFixed(2) +
                            '</span></div>' +
                            '<div>Low: <span class="value">' +
                            parseFloat(l).toFixed(2) +
                            '</span></div>' +
                            '<div>Close: <span class="value">' +
                            parseFloat(c).toFixed(2) +
                            '</span></div>' +
                            '</div>'
                        )
                    }
                }

            };

            var chart = new ApexCharts(document.querySelector("#candlestick_chart"), options);
            chart.render();
        });
    });
</script>

<div class="row">
    <div class="col-12">
        <div id="now_price">

        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div id="candlestick_chart"></div>
    </div>
</div>